

*
{
 
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;;
  text-decoration: none;
  border: none;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}
 body{
     display:flex;
	 
	 
	align-content: flex-start;
	 align-items: Center ; align-content: center;

   padding: 10rem;
   font-family: 'sahel';
 }
 body::-webkit-scrollbar{
   width: 1.25rem;
 }
 body::-webkit-scrollbar-track{
   background:#1e1e24;
 }
 body::-webkit-scrollbar-thumb{
   background:  #d91b1b;
 }

 .textrea{
	 border: 1px solid black;
    padding: 20px;background-color:blue;
	margin:5px; align-self: center;
 }
 span{
	 margin:15px;
	 display:block;
	 background-color:blue;
 }
